/* mobile HEIGHT fixes */
@media only screen and (max-height : 900px) {
   
}
    
@media only screen and (max-height : 720px) {
    
}

/* mobile WIDTH fixes */
@media only screen and (max-width : 1750px) {
    .wrap{ float: left; width: 60%; margin-left: 20%; margin-right: 20%; height: auto; }
}

@media only screen and (max-width : 1400px) {
    .wrap{ float: left; width: 70%; margin-left: 15%; margin-right: 15%; height: auto; }
    .wrap-footer{ float: left; width: 85%; margin-left: 15%; }
}

@media only screen and (max-width : 900px) {

}
